In [ ]:
#Task 1: Variables and Data Types

In [ ]:
#a) Create three variables: one for storing your age (integer), one for your name (string), and one to check if you are a student (Boolean). Print the variables.
age = 19
name = "Eesha"
student = True
print("My age is", age)
print("My name is", name)
print("I am a student", student)

My age is 19
My name is Eesha
I am a student True

In [ ]:
#b) Perform the following operations and print the results:
#Add 25 to your age variable.
age += 25
#Concatenate your name with the string ""Smith."
name = name+" Smith."
#Negate the Boolean variable (if True, make it False, and vice versa).
student = not student
print("updated age is", age)
print("updates name is", name)
print("updates student status is", student)

updated age is 44
updates name is Eesha Smith.
updates student status is False

In [ ]:
#Task 2: Expressions and Operators

In [ ]:
#a) A rectangle has a width of 5.5 units and a height of 3.25 units. Store width and height in variables. Create a new variable called area and write an expression to calculate the area. Print the area in the output.
width = 5.5
height = 3.25
area = width*height
print("The area of the rectangle is", area, "units")

The area of the rectangle is 17.875 units

In [ ]:
#b) Create a temperature variable in Celsius. Convert it to Fahrenheit using the formula: F = (C * 9/5)+ 32. Store this temperature in a variable called Fahrenheit and print this variable.
Celsius = int(input("enter temperature in celsius: "))
Fahrenheit = (Celsius*(9/5))+32
print("the temperature in fahrenheit is: ", Fahrenheit)

enter temperature in celsius: 28
the temperature in fahrenheit is:  82.4

In [ ]:
#c) Create a variable called radius and give it a value of 5. Calculate the area of a circle with this radius and store it in a variable called area. Print area at the end of your code. (Use the formula: area = π * radius^2, where π (pi) is approximately 3.14159).
radius = 5
area = 3.14159*radius**2
print("the area of the circle is", area)

the area of the circle is 78.53975

In [ ]:
#Task 3: Introduction to Data Structures

In [ ]:
#a) Create a list called "fruits" containing the following fruits: "apple", "banana", "orange", "grape", and "kiwi". Print the list.
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [ ]:
#b) Create a tuple named "months" with the names of the first three months of the year. Print the tuple.
months = ("January", "February", "March")
print(months)

('January', 'February', 'March')

In [ ]:
#Task 4: List Manipulation

In [ ]:
#a) Given the list of numbers below, write a Python program to calculate the sum and average of these numbers. Print both results.
#numbers = [12, 34, 45, 67, 89, 100, 23, 56]
numbers = [12, 34, 45, 67, 89, 100, 23, 56]
sum_of_numbers = sum(numbers)
avg_of_numbers = sum(numbers)/len(numbers)
print("The sum of numbers is", sum_of_numbers)
print("The average of numbers is", avg_of_numbers)

The sum of numbers is 426
The average of numbers is 53.25

In [ ]:
#b) Remove the first and last elements from the "fruits" list created earlier. Print the updated list.
#by accessing indivual elements:
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
fruits.remove("apple")
fruits.remove("kiwi")
print(fruits)
#by accessing indexes
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
fruits.pop(0)
fruits.pop(-1)
print(fruits)

['banana', 'orange', 'grape']
['banana', 'orange', 'grape']

In [ ]:
#Task 5: Dictionary Operations

In [ ]:
#a) Create a dictionary named "capitals" with three key-value pairs: "USA" - "Washington D.C.", "France"- "Paris" and "Japan" - "Tokyo". Print the dictionary.
capitals = {
    "USA" : "Washington D.C." ,
    "France" : "Paris" ,
    "Japan" : "Tokyo"
}
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}

In [ ]:
#b) Add a new country and its capital to the "capitals" dictionary. The country is "Germany," and the capital is "Berlin". Print the updated dictionary.
capitals.update({"Germany" : "Berlin"})
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

In [ ]:
#c) Check if "France" exists in the "capitals" dictionary. If it does, print "France is in the dictionary" otherwise, print "France is not in the dictionary" (at the end of the lab notebook for session 1, I have added an example of how to use “in” in python).
if "France" in capitals:
    print("France is in the dictionary")
else:
    print("France is not in the dictionary")

France is in the dictionary

In [ ]:
#Task 6: Comparison Operators, Logical Operators and If/Else:

In [ ]:
#a) Create a variable called number that takes user input (we studied the input() function). Next, write a block of code that checks if the number is even or odd (hint: modulo operator. Refer to lab notebook 1).
number = int(input("enter a number: "))
if number %2 == 0:
    print("The number is even")
else:
    print("The number is odd")

enter a number: 34
The number is even

In [ ]:
#a) Create a variable called number that takes user input (we studied the input() function). Next, write a block of code that checks if the number is even or odd (hint: modulo operator. Refer to lab notebook 1).
number = int(input("enter a number: "))
if number %2 == 0:
    print("The number is even")
else:
    print("The number is odd")

enter a number: 55
The number is odd

In [ ]:
#b) Create two variables called age and GPA. Give them values of your choice. Next, write a block of code to check if a student with this age and GPA is eligible for admission. The following are the conditions:- The student must be at least 18 years old. - The student's GPA must be 3.0 or higher on a scale of 4.0. Your output should print “Eligible for admission” or “Not eligible for admission”.
age = 19
GPA = 3.6
if age >= 18 and GPA >= 3.0:
    print("Eligible for admission")
else:
    print("Not eligible for admission")

Eligible for admission

In [ ]:
#Task 7: Advanced Data Types

In [ ]:
#a) Create a set named "fruits_set" containing the following fruits: "apple", "banana," "orange", "grape," and "kiwi". Print the set.
fruits_set = {"apple", "banana", "orange", "grape", "kiwi"}
print(fruits_set)

{'apple', 'kiwi', 'orange', 'banana', 'grape'}

In [ ]:
#b) Given two sets:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
#Write Python code to perform the following operations and print the results:
# Union of set1 and set2.
union = set1.union(set2)
print("The union of sets is", union)

The union of sets is {1, 2, 3, 4, 5, 6, 7}

In [ ]:
#- Intersection of set1 and set2.
intersection = set1.intersection(set2)
print("The intersection of sets is", intersection)

The intersection of sets is {3, 4, 5}

In [ ]:
#- Difference between set1 and set2.
difference = set1.difference(set2)
print("The difference of set 1 and set 2 is", difference)

The difference of set 1 and set 2 is {1, 2}

In [ ]:
#- Check if set1 is a subset of set2.
print("set1 is a subset of set2", set1.issubset(set2))

set1 is a subset of set2 False

In [ ]:
#Task 8: Strings Manipulation

In [ ]:
#Create a string variable containing the following sentence: "Python programming is fun and powerful!".Write Python code to do the following and print the results:
string = "Python programming is fun and powerful!"
#- Find the length of the string.)
print("The length of the string is", len(string))

The length of the string is 39

In [ ]:
#- Convert the string to uppercase.
string1 = string.upper()
print("The string in uppercase:")
print(string1)

The string in uppercase:
PYTHON PROGRAMMING IS FUN AND POWERFUL!

In [ ]:
#- Replace "fun"with "exciting"
string2 = string.replace("fun", "exciting")
print(string2)

Python programming is exciting and powerful!

In [ ]:
#- Check if the string contains the word "Python"
if "Python" in string:
    print("'Python' is in the string")
else:
    print("'Python' is not in the string'")

'Python' is in the string

In [ ]:
#- Split the string into a list of words.
list_of_words = string.split()
print(list_of_words)

['Python', 'programming', 'is', 'fun', 'and', 'powerful!']

In [ ]:
#Task 9: Functions

In [ ]:
#a) Write a function called num_vowels that takes in a string as an argument, and returns the number of vowels in that string. Print out the result for the string “Learning Python is fun and engaging.”
def num_vowels(string):
     vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
     num = 0
     for i in string:
        if i in vowels:
            num += 1
     print("the number of vowels in the string are:", num)
string = input("enter a string:")
num_vowels(string)

enter a string:Learning Python is fun and engaging.
the number of vowels in the string are: 10

In [ ]:
#b) Create a function called hours_to_min that converts hours into minutes. The function should take the number of hours as input and return the equivalent number of minutes. Test the function with 2.5 hours and print the result.
def hours_to_min():
    hours= float(input("Enter number of hours: "))
    minutes = hours*60
    print("The equivalent number of minutes is:", minutes)
hours_to_min()

Enter number of hours: 2.5
The equivalent number of minutes is: 150.0

In [ ]:
#c) Write a python function that takes in a number as an argument, and prints out the table of that number up to 12 times that number. You may name this whatever you wish.
def table(number):
    for i in range(1, 13):
        print(i, "*", number, "=", number*i)

table(6)

1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60
11 * 6 = 66
12 * 6 = 72